@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap');

:root{
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: 'Passion One', cursive;
    --font3: 'Sriracha', cursive;
}

*{
    margin: 0px;
    padding: 0px;
    
}
html, body{
    min-height: 100vh;
    background-color:dimgrey;
    font-family: var(--font1);
    
}

header{
    background-color: black;
    color: white;
    text-align: center;
}
header > h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--font2);
    font-size: 10vw;
}
header > p{
    padding-bottom: 50px;
}

a{
    color: white;
    text-decoration: none;
}
header a:hover, footer a:hover{
    color: goldenrod;
    text-decoration: underline;
    font-weight: bolder;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--font3);
    font-size: 3.5vw;
}
section > p{
    padding-bottom: 2em;
}
section.normal{
    background-color: white;
    color: black;
}

section.imagem{
    background-color: dimgray;
    color: white;
    padding: 5px;
    background-size: cover;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.479);
    background-attachment: fixed;
}
    
section#arte01{
    background-image: url('../imagens/background001.jpg');
    background-position: right center;
    
}
section#arte02{
    background-image: url('../imagens/background002.jpg');
    
}
section.imagem > p{
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.518);
    text-shadow: 1px 1px 0px black;
}


footer{
    background-color: black;
   text-align: center;
   color: white;
   font-weight: lighter;
   padding: 10px;
}